<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.assistance.dao.ClubMapper">

    <!-- 注册后援会 -->
    <insert id="registClub" parameterType="com.assistance.pojo.Club">
        insert into club(clubname,predidentid,tdescribe) values(#{clubname},#{predidentid},#{tdescribe});
    </insert>

    <!-- 获取所有后援会信息 -->
    <select id="getAllClub" resultType="com.assistance.pojo.Club">
        select * from club
    </select>

</mapper>